html body{
  padding:0;
  margin: 0 auto;
}

body{
  background-color: #f9f9f9;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}
.top-menu{
  background: -webkit-linear-gradient(to left, #ECE9E6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#fff 35%,#ededef 65%,#efefef 100%);
  height: 37px;
  ul{
    margin-left: 100px;
      li{
        margin:10px auto;
        box-sizing: border-box;
        a{
          text-decoration: none;
          color: #333;
          font-size: 15px;
          font-weight: 300;

        }
      }
    }
}



.navbar{
  margin-top: 37px;
  background: #fff;
  height: 54px;
  .navbar-brand{
    margin-top: -26px;

    img{
      width:255px;
      height: 48px;
    }
  }



}
.btn-cta{
  background: #c94c06;
  color:#fff !important;
  border-radius: 4px;
  padding:7px !important;
}
.btncta{

    margin-top:10px !important;

}
