<div class="content">
  <div class="container">


    <div class="row">
        <h4 class="text-center">Editing Account</h4>
      <div class="col-md-8 col-md-offset-2">
        <%= render 'form', account: @account %>

        <%= link_to 'Show', @account %> |
        <%= link_to 'Back', accounts_path %>


      </div>

    </div>

  </div>

</div>
